**/node_modules
UserSrevice/node_modules/
UserSrevice/.env
ParkingService/node_modules/
ParkingService/.env
PaymentService/node_modules/
PaymentService/.env
SearchService/node_modules/
SearchService/.env
userservice-frontend/node_modules/
userservice-frontend/.env